@{ Layout = "_Layout"; ViewBag.Title = "Top 5 Products Sold";}

<div id="dialog" title="Successful">
    <p>@ViewBag.SuccessMessage</p>
</div>

<a asp-action="Index" class="btn btn-sm btn-primary">Back</a>